/* get_book_list.css */
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #91B493;
    text-align: left;
}

h1 {
    margin-top: 3vh;
    font-size: 48px;
    border-bottom: 2px solid black;
    padding: 5px;
}

p {
    margin-top: 2vh;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 24px;
    margin: 20px 0;
}

a {
    
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #FBE251;
    color: #898989;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

span {
    color: gray;
    font-size: 20px;
    margin-left: 10px;
}

hr {
    margin: 20px 0;
    border: 1px solid black;
}

h2 {
    font-size: 36px;
    margin-top: 2vh;
}